
*, ::before, ::after {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

:root {
  --deep-blue: #071724;
  --mid-blue: #00314f;
  --light-blue:#17709c;
  --blue-gray:#87a5c1;
  --main-gray: #d6dae6;

}
html {
  max-width: 100vw;
  max-height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
body{
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
}

.nav {
  background: linear-gradient(-360deg,var(--main-gray) 65%, white 100%);
  color: var(--mid-blue);
  display: flex;
  align-items: flex-end;
  position: fixed;
  width: 100vw;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 100;
}

#nav-heading{
  margin-bottom: 0;
  width: 50%;
  padding-left: 5px;
}
.nav-menu {
  margin:0;
  width: 75%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 10px;
  align-items: flex-end;
}

.nav-link {
  list-style: none;
  text-align: right;
}
.nav-link:hover{
  background-color: #c7cbd6;
  border-radius: 10px;
}
li > a{
  text-decoration: none;
  color: var(--mid-blue);
}
/* Mobile Nav Bar */
@media screen and (max-width:700px) {
.nav {
  display: none;
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background: linear-gradient(-360deg,var(--main-gray) 65%, white 100%);;
  height: 500px;
  color: white;
  border-radius: 10px;
  z-index: 100;
}

.topnav {
  overflow: hidden;
  background: linear-gradient(-360deg,var(--main-gray) 65%, white 100%);;
  position: relative;
  display: block;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 100;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: var(--mid-blue);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.topnav a.icon {
  background: linear-gradient(-360deg,var(--main-gray) 65%, white 100%);;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background: linear-gradient(-360deg,var(--main-gray) 65%, white 100%);;
  color: var(--mid-blue);
}
#welcome-section {
margin-top: -100px;
}

}


#welcome-section {
  padding-top: 100px;
  background: linear-gradient(45deg, var(--deep-blue) 10%, var(--mid-blue));
  text-align: center;
  padding-bottom: 50px;
  color: white;
  scroll-margin-top: 20px;
}

.welcome-text {
  width: 75%;
  margin: 0 auto;
  padding: 0 0;
}

.wecome-text, h1 {
  font-size: 2rem;
}

#list-head {
  text-align: left;
  font-size: 1.2rem;
  margin-left: 1
}
li#intro-text{
  text-align: left;
}

#streaming {
  background: linear-gradient(-45deg, var(--light-blue) 75%, var(--mid-blue));
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 3rem;
  scroll-margin-top: 70px;
}

#video {
    width:65vw;
    height: 36.56525vw;
}

#cards {
  background: linear-gradient(45deg, var(--blue-gray) 80%, var(--main-gray));
  color: White;
  text-align: center;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}


.card-tiles{
  width: 90vw;
  text-align: center;
  font-size: 1rem;
  display: grid;
}




#socials {
  width: 100vw;
  margin: auto;
  text-align: center;
  background: linear-gradient(-45deg, var(--mid-blue)90%, var(--deep-blue));
  color:white;
  padding-bottom: 40px;
  padding-top: 40px;
}

.fa-brands{
  color: white;
  font-size: 40px;
  text-decoration: none;
}
.flex-socials {
  display: flex;
  gap:15px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

#tcg-logo {
  height: 40px;
   cover: contain;
   margin-top:20px;
 }

 .snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:99;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}

@media only screen and (max-width:768px) {
.list {
  display: flex;
  gap: 2rem;
  padding: 4rem;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.overlay-link{
  display: none;
}
.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 280px;
  display: none;
  color: #FFF;
  border-radius: 10px;
}
.image-container:focus .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}
/* CSS */
.button-19 {
  appearance: button;
  background-color: var(--deep-blue);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat ,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: wrap;
  text-decoration: none;
  margin-top: -20px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: var(--mid-blue);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;url(https://www.tcgplayer.com/product/500122/one-piece-card-game-pillars-of-strength-one-piece-card-game?seller%3Dec2f43ef%26page%3D1)
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
}
@media only screen and (min-width:768px){
.list {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;
  justify-content: space-around;
}
.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 280px;
  display: none;
  color: #FFF;
  border-radius: 10px;
}
.image-container:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}
.button-19 {
  display:none;
}
}
 .card-image {
  width: 100%;
  border-radius: 10px;;
 }
.item {
  flex-shrink: 0;
  width: 200px;
  height: 280px;
  background-color: #ccc;
  scroll-snap-align: start;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 10px;
}

.list {
  /* ... */
  scrollbar-width: none;
}

.list-wrapper {
  position: relative;
}

.navbutton {
  position: relative;
  top: 0;
  width: 3rem;
  height: 3rem;
  background: #ccc;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbutton.previous {
  left: 1.5rem;
}

.navbutton.next {
  right: 1.5rem;
}

.image-container {
  position: relative;
  width: 200px;
  height: 300px;
}




.card-title {
  font-size: 20px;
  margin-top: 50px;
}

.card-info {
  font-size: 15px;
}

.market-price {
  font-size: 12px;
}

.our-price {
  font-size: 15px;
}

