*, ::before, ::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --deep-blue: #071724;
  --mid-blue: #00314f;
  --light-blue:#17709c;
  --blue-gray:#87a5c1;
  --main-gray: #d6dae6;

}

body{
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
}

.nav {
  background: linear-gradient(-360deg,var(--main-gray) 65%, white 100%);
  color: var(--mid-blue);
  display: flex;
  align-items: flex-end;
  position: fixed;
  width: 100vw;
  padding-bottom: 1px;
}

#nav-heading{
  margin-bottom: 0;
  width: 50%;
  padding-left: 5px;
}
.nav-menu {
  margin:0;
  width: 75%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 10px;
  align-items: flex-end;
}

.nav-link {
  list-style: none;
  text-align: right;
}
.nav-link:hover{
  background-color: #c7cbd6;
  border-radius: 10px;
}
li > a{
  text-decoration: none;
  color: var(--mid-blue);
}
#welcome-section {
  padding-top: 100px;
  background: linear-gradient(45deg, var(--deep-blue) 10%, var(--mid-blue));
  text-align: center;
  padding-bottom: 50px;
  color: white;
}

.welcome-text {
  width: 75%;
  margin: 0 auto;
  padding: 0 0;
}

.wecome-text, h1 {
  font-size: 2rem;
}

#list-head {
  text-align: left;
  font-size: 1.2rem;
  margin-left: 1
}
li#intro-text{
  text-align: left;
}

#streaming {
  background: linear-gradient(-45deg, var(--light-blue) 75%, var(--mid-blue));
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 3rem;
}

#video {
    width:65vw;
    height: 36.56525vw;
}

#cards {
  background: linear-gradient(45deg, var(--blue-gray) 80%, var(--main-gray));
  color: White;
  text-align: center;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}


.card-tiles{
  width: 90vw;
  text-align: center;
  font-size: 1rem;
  display: grid;
}

.card-tile{
  width: 33%;
  display: flex;
  position: relative;
  max-width: 30px;
}



#socials {
  width: 100vw;
  margin: auto;
  text-align: center;
  background: linear-gradient(-45deg, var(--mid-blue)90%, var(--deep-blue));
  color:white;
  padding-bottom: 40px;
  padding-top: 40px;
}

.fa-brands{
  color: white;
  font-size: 40px;
  text-decoration: none;
}
.flex-socials {
  display: flex;
  gap:15px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

#tcg-logo {
  height: 40px;
   cover: contain;
   margin-top:20px;
 }

 .snowflakes {
  z-index: -1;
 }
